body {
    font-family: sans-serif;
}
header {
    background-color: aqua;
    padding: 10px;
}
h1 {
    color: purple;
    border: 1px solid red;
    border-radius: 10px;
    text-align: center;
}
footer{
    background-color: pink;
    padding: 2px;
}
footer p{
    background-color: white;
}
nav a{
    border: 1px solid blue;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin: 50px;
    padding: 10px;
}
nav {
    padding: 20px;
}

.example2{
    background-color: orange;
    border: 10px solid orange;
    border-radius: 10px
}

h2{
    color: blue;
}
